<ion-content [fullscreen]="true">
  <app-menu></app-menu>

  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/ae/38/a3/ae38a31c7882298f4a35add547190460.jpg" >
    </ion-col>

      <ion-col size="3">
        <img src="https://i.pinimg.com/736x/15/e3/1b/15e31b947ddd5c815509b0e25aed99ba.jpg" >
      </ion-col>

        <ion-col size="3">
          <img src="https://i.pinimg.com/736x/7f/c3/fd/7fc3fd1896337e68af18b14679477a8c.jpg" >
        </ion-col>
  </ion-row>

</ion-content>
